<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<footer class="layout-footer" th:fragment="rodape">

		<div id="footer_content">
			<div id="footer_contacts">
				<h1>
					<a class="navbar-brand " th:href="@{/#}">
					@Cadastro Java
					</a>
				</h1>
				<p>Tudo sobre seus sonhos você encontra aqui no AfiliadoXP.</p>

				<div id="footer_social_media">
					<a href="#" class="footer-link" id="instagram"> <i
						class="fa-brands fa-instagram"></i>
					</a> <a href="#" class="footer-link" id="facebook"> <i
						class="fa-brands fa-facebook-f"></i>
					</a> <a href="#" class="footer-link" id="whatsapp"> <i
						class="fa-brands fa-whatsapp"></i>
					</a>
				</div>
			</div>

			<ul class="footer-list">
				<li><h3>Referencia</h3></li>
				<li><a href="#" class="footer-link">Info</a></li>
				<li><a href="#" class="footer-link">Físico</a></li>
			</ul>

			<ul class="footer-list">
				<li><h3>Produtos</h3></li>
				<li><a href="#" class="footer-link">Livros</a></li>
				<li><a href="#" class="footer-link">Cursos</a></li>
				<li><a href="#" class="footer-link">Produtos Físicos</a></li>
			</ul>

			<div id="footer_subscribe">
				<h3>Se-increver</h3>
				<p>Digite seu e-mail para ser notificado sobre nossas novidades
					soluções</p>

				<div id="input_group">
					<input type="email" id="email">
					<button>
						<i class="fa-regular fa-envelope"></i>
					</button>
				</div>
			</div>
		</div>
		<div id="footer_copyright">&copy; AfiliadoXP 2023. Todos os
			direitos reservados.</div>
	</footer>
</body>
</html>